@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
@import url(https://necolas.github.io/normalize.css/latest/normalize.css);

@font-face {
  font-family: SF Pro Display;
  src: url(../fonts/SF-Pro-Display-Regular.otf)
}

@font-face {
  font-family: SF Pro Text;
  src: url(../fonts/SF-Pro-Text-Regular.otf)
}
